:root {
    --fuentePrincipal:  'Open Sans', sans-serif;

}

body {

    font-family: var(--fuentePrincipal);


}

header {

    border-bottom: solid 1px;
    margin: 0 0 20px 0 ;


}

.title {
    
    font-size: 70px;   
    color: green;
}